@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* input[type='range']::-webkit-slider-runnable-track {
  height: 0.5rem;
  @apply rounded-full;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.1rem;
  border-radius: 9999px;
  border: none;
  background-color: blue;
  @apply bg-blue-600;
} */

input[type = 'range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent; /* so only the track shows */
}

@layer components
{
  .blue-Black-White-GradBR
  {
    @apply bg-linear-to-br from-blue-800 via-black to-white;
  }

  .blue-Black-White-GradBR-Darker
  {
    @apply bg-linear-to-br from-blue-950 via-black to-gray-600;
  }

  .green-Black-White-GradBR
  {
    @apply bg-linear-to-br from-green-600 via-black to-white;
  }

  .red-Black-White-GradBR
  {
    @apply bg-linear-to-br from-red-600 via-black to-white;
  }

  .redCorner-GradBR
  {
    @apply bg-linear-to-br from-blue-800/0 via-black/0 to-red-600;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
